<div class="cotainer">
  <div class="content">
    <div class="header">
      <div class="d-flex justify-content-center">
        <div class="title">Subir un archivo</div>
      </div>
      <div class="form">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md">
            <div class="">
              <div class="input-group-prepend">
                <span class="input-group-text upload" (click)="uploadDocument()">
                  Subir al server
                </span>
              </div>
              <div class="custom-file">
                <form action="" method="POST" enctype="multipart/form-data">
                  <input type="file" class="custom-file-input" id="file-custom" (change)="onFileChange($event)">
                  <label class="custom-file-label" for="file-custom">Elige un archivo</label>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md"></div>
        </div>
      </div>

      <div class="form">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md">
            <div class="">
            <mat-form-field appearance="fill">
              <mat-label>Tu hola mundo</mat-label>
              <input matInput name="textHello" [(ngModel)]="textHello">
            </mat-form-field>
            <br>
              <mat-form-field appearance="fill">
              <mat-label>ingresa ID</mat-label>
              <input matInput name="idhello" [(ngModel)]="idhello">
            </mat-form-field>
            </div>
            <div class="example-button-row">

              <button mat-button color="primary" (click)="gethello()">GET HELLO</button>
              <button mat-button color="primary" (click)="gethellobyID()">GET HELLO by ID</button>
              <button mat-button color="primary" (click)="createhello()">CREATE HELLO</button>
              <button mat-button color="primary" (click)="updatehello()">UPDATE HELLO</button>
              <button mat-button color="primary" (click)="deletehello()">DELETE HELLO</button>
              <button mat-button color="primary" (click)="cleandt()">CLEAN DATA</button>
            </div>
          </div >
          <div class="col-md">
          </div>
        </div>
      </div>
      <div *ngFor="let data of helloData">
              <li>{{data._id}}</li>
               <li>{{data.text}}</li>
            </div>
    </div>
  </div>
</div>
