$whiteColor: white;
$d55Color: #FF3366;

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav {
    background-color: $d55Color;

    .toolbar {
      color: $d55Color;
      background-color: $whiteColor;
      display: flex;
      justify-content: center;
    }

    /*
    * Navigation
    */
    .mat-list {
      padding-top: 0px !important;
    }

    .mat-list-item a {
      color: $whiteColor;
      text-decoration: none;
      width: 200px;
      height: 100%;
      text-align: center;
    }

    .mat-list-item:hover {
      color: $whiteColor;
      background-color: rgba(0, 0, 0, 0.726);
    }

    .btn-list {
      width: 100%;
      text-align: center;
    }
  }

  .mat-sidenav-content {
    .toolbar {
      color: $whiteColor;
      background-color: $d55Color;
    }
  }
}
